.addContact{
    text-align: center;
}

.addform{
    padding:20px;
    margin-top: 30px;
    display: inline-flex;
    flex-direction: column;
    width:500px;
    background-color: rgb(216, 215, 249);
}
.editbtns{
    width:100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.addform input{
    margin-bottom: 5px;
}
.addform input:focus{
    outline: none;
}
.addBtn{
    background-color: black;
    color: white;
}
.cancelBtn{
    background-color: red;
    color: white;
}